
<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Trang đăng nhập </title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script>
        addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- Meta tags -->
    <!-- font-awesome icons -->
    <link href="client/register/css/font-awesome.min.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="client/register/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <meta name="keywords" content="Smart Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script type="text/javascript" src="client/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="client/js/simpleCart.min.js"></script>
    <!-- cart -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="client/js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
    <script src="client/js/jquery.easing.min.js"></script>
</head>
<body>
<div th:replace="~{client/header::header_content}"></div>
<div th:replace="~{client/header::#header-bot}"></div>
<div th:replace="~{client/header::#ban-top}"></div>
<h1 class="error">Trang đăng nhập</h1>
<!---728x90--->
<div class="w3layouts-two-grids">
    <!---728x90--->
    <div class="mid-class">
        <div class="img-right-side">
            <h3>WELCOME!</h3>
            <p>Đăng nhập ngay để nhận hàng ngàn ưu đãi lớn.</p>
            <img src="client/register/images/b11.png" class="img-fluid" alt="">
        </div>
        <div class="txt-left-side">
            <h2> Đăng nhập </h2>
            <form th:action="@{/login}" method="post" class="login100-form validate-form">
                <div class="form-left-to-w3l" data-validate="Enter username">
                    <span class="fa fa-user-o" aria-hidden="true"></span>
                    <input type="text" name="username" placeholder=" Tên đăng nhập..." required="" data-placeholder="&#xf207;">
                    <div class="clear"></div>
                </div>
                <div class="form-left-to-w3l" data-validate="Enter password">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <input type="password" name="pass" placeholder="Mật khẩu..." required="" data-placeholder="&#xf207;">
                    <div class="clear"></div>
                </div>
                <div class="main-two-w3ls">
                    <div class="left-side-forget">
                        <input type="checkbox" class="checked">
                        <span class="remember-me">Remember me </span>
                    </div>
                </div>
                <div class="btnn">
                    <button type="submit" name="login-submit" id="login-submit" class="login-bottom">Đăng nhập </button>
                </div>
                <div th:if="${param.error}">
                    <div>Sai tên đăng nhập hoặc mật khẩu.</div>
                </div>
                <div th:if="${param.logout}">
                    <div>Bạn vừa đăng xuất.</div>
                </div>
            </form>
            <br>
            <div>
                <h4>Bạn chưa có tài khoản |
                    <a href="/register">Đăng kí
                    </a>
                </h4>
            </div>
            <div class="clear"></div>
            <div>
                <h4>Bạn quên mật khẩu |
                    <a href="/forgot-password">Lấy lại mật khẩu
                    </a>
                </h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!---728x90--->
<div th:replace="~{client/header::#top-footer}"></div>
<div th:replace="~{client/header::#footer}"></div>
</body>

</html>
