
<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Trang đăng kí </title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script>
        addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- Meta tags -->
    <!-- font-awesome icons -->
    <link href="client/register/css/font-awesome.min.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="client/register/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <meta name="keywords" content="Smart Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <!-- js -->
    <script type="text/javascript" src="client/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="client/js/simpleCart.min.js"></script>
    <!-- cart -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="client/js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
    <script src="client/js/jquery.easing.min.js"></script>

</head>
<body>
<div th:replace="~{client/header::header_content}"></div>
<div th:replace="~{client/header::#header-bot}"></div>
<div th:replace="~{client/header::#ban-top}"></div>

    <h1 class="error">TRANG ĐĂNG KÍ</h1>
	<!---728x90--->
    <div class="w3layouts-two-grids">
	<!---728x90--->
        <div class="mid-class">
            <div class="img-right-side">
                <h3>Dễ dàng quản lý sản phẩm</h3>
                <p>Giờ đây, bạn có thể dễ dàng quản lý giỏ hàng của mình bằng việc đăng kí ngay với chúng tôi.</p>
                <img src="client/register/images/b11.png" class="img-fluid" alt="">
            </div>
            <div class="txt-left-side">
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        Đăng kí thành công
                    </div>
                </div>
                <h2> Đăng kí ngay </h2>
                <form th:action="@{/register}" th:object="${user}" method="post" id="formDemo">
                <p class="error-message"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}"
                   th:text="${error}">Validation error</p>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('userName')}? 'has-error':''">
                    <label for="userName" class="control-label">Tên tài khoản</label>
                    <input id="userName" name="userName"
                           class="form-control"
                           th:field="*{userName}" required/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('userName')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <label for="password" class="control-label">Mật khẩu</label>
                    <input id="password" name="password"
                           class="form-control"
                           type="password"
                           th:field="*{password}" required/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                    <label for="confirmPassword" class="control-label">Nhập lại mật khẩu</label>
                    <input id="confirmPassword"
                           class="form-control"
                           type="password"
                           th:field="*{confirmPassword}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('confirmPassword')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
                    <input id="terms"
                           type="checkbox"
                           th:field="*{terms}"/>  
                    <label class="control-label" for="terms">
                        I agree with the <a href="#">terms and conditions</a> for Registration.
                    </label>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('terms')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Đăng kí</button>
                    <span>Bạn đã có tài khoản? <a href="/" th:href="@{/login}">Đăng nhập</a></span>
                </div>
                </form>
            </div>
        </div>
    </div>
<script type="text/javascript">

    $(document).ready(function() {

        //Khi bàn phím được nhấn và thả ra thì sẽ chạy phương thức này
        $("#formDemo").validate({
            rules: {
                userName: "required",
                password: "required",
            },
            messages: {
                userName: "Vui lòng nhập tên tài khoản",
                password: "Vui lòng nhập mật khẩu",
            }
        });
    });
</script>

	<!---728x90--->
<div th:replace="~{client/header::#top-footer}"></div>
<div th:replace="~{client/header::#footer}"></div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>

</html>
